<div class="ilBox {MODE_CLASS}" data-field-type="{FIELD_TYPE}" data-service-url="{SERVICE_URL}">

    <!-- BEGIN debug -->
	{TXT_VERSION}: {VERSION}
	<br />{TXT_MODE}: {MODE}
    <br />
<!-- END debug -->

<!-- BEGIN prop -->
	{TXT_PROP} "{PROP_NAME}": {PROP_VAL}<br />
<!-- END prop -->

    <p class="pcinfi-loader pull-right small" style="visibility:hidden;">{TXT_SAVING} <img src="{IMG_LOADER}" /></p>

<!-- BEGIN edit -->
    <p class="small text-info">{FIELD_NAME} ({FIELD_CONTEXT})</p>
<!-- END edit -->

<!-- BEGIN text -->
    <input id="{ID}" name="{NAME}" type="text" size="{SIZE}" maxlength="{MAXLENGTH}" value="{VALUE}" />
<!-- END text -->

<!-- BEGIN textarea -->
    <textarea id="{ID}" name="{NAME}" cols="{COLS}" rows="{ROWS}">{VALUE}</textarea>
<!-- END textarea -->

<!-- BEGIN single_choice -->
    <input id="{ID}" name="{NAME}" type="radio" value="{VALUE}" {CHECKED} /> <label for="{ID}">{VALUE}</label>
    <br />
<!-- END single_choice -->

<!-- BEGIN multi_choice -->
    <input id="{ID}" name="{NAME}" type="checkbox" value="{VALUE}" {CHECKED} /> <label for="{ID}">{VALUE}</label>
    <br />
<!-- END multi_choice -->

</div>

